---
import Cam from '@components/globals/Cam.astro'
import Cam2 from '@components/globals/Cam2.astro'
import Layout from '@layouts/Layout.astro'

const user = Astro.locals.user

const username = user ? user.username : 'Guest'
---

<Layout title="Socket chat">
    {
        user && (
            <>
                <h1 class="bg-green-400 py-4 px-4 text-gray-200 dark:text-gray-800 font-bold uppercase">
                    {username}
                </h1>
                <form action="/api/signout" method="POST">
                    <button class="bg-primary w-1/4 py-2 rounded-lg mt-4 ml-4">
                        Sign out
                    </button>
                </form>
                <Cam2 />
            </>
        )
    }
    {
        !user && (
            <div class="flex flex-col justify-center items-center">
                <h1 class="text-3xl"> Not logged in</h1>
                <a
                    class="inline-block shrink-0 rounded-md border border-primary-600 bg-primary px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-purple-100 focus:outline-none focus:ring active:text-bg_color-dark"
                    href="/signup"
                >
                    Sign up
                </a>
            </div>
        )
    }
</Layout>
<script></script>
