---
import ItemChat from "./ItemChat.astro";
---

<div
  id="sticky-banner"
  tabindex="-1"
  class="flex justify-between w-full h-96 p-4 border-b border-gray-200 bg-gray-50 dark:bg-gray-900 dark:border-gray-600"
>
  <ItemChat />
</div>
