---
import Form from '@components/globals/Form.astro'
---

<section
    class="flex flex-wrap gap-8 items-center justify-center w-full h-[80vh] px-24 py-12"
>
    <h1 class="text-6xl font-bold text-gray-300">
        Chat Unleashed, Talk About Anything, With Anyone, Anywhere
    </h1>

    <Form action="/random-chat" method="POST" cta="Discover New Friends" />
</section>
