---

---

<section
  class="flex flex-wrap gap-8 items-center justify-center w-full h-[80vh] px-24 py-12"
>
  <h1 class="text-6xl font-bold text-gray-300 leading-tight">
    Chat Unleashed, Talk About Anything, With Anyone, <span class="text-primary"
      >Anywhere</span
    >
  </h1>
  <!-- 
    <Form
        action="/random-chat"
        method="POST"
        label2="Enter Chat Room Name"
        cta="Discover New Friends"
        types="password"
        cta2="Join Chat Room"
        types="text"
    /> -->
</section>
