---
const { label, className, state, href } = Astro.props
---

<a
  class:list={[
    'cursor-pointer inline-block rounded-md border border-primary bg-primary px-12 py-3  text-md font-medium  text-bg_color-light transition hover:bg-transparent hover:text-bg_color-light focus:outline-none focus:ring active:text-bg_color-dark',
    state && className,
  ]}
  href={href}
>
  <slot name="left" />
  {label}
  <slot name="right" />
</a>
