---
interface Props {
    action: string
    method: 'GET' | 'POST' | 'PUT' | 'DELETE'
    cta: string
    button: boolean
}

const { action, method, cta, button } = Astro.props
---

<section class="bg-white">
    <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
        <main
            class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6"
        >
            <div class="max-w-xl lg:max-w-3xl">
                <form
                    action={action}
                    method={method}
                    class="mt-8 grid grid-cols-6 gap-6"
                >
                    <div class="col-span-6 sm:col-span-3">
                        <label
                            for="Username"
                            class="block text-sm font-medium text-gray-700"
                        >
                            Username
                        </label>

                        <input
                            type="text"
                            id="Username"
                            name="username"
                            class="mt-1 w-full p-2 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
                        />
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label
                            for="Password"
                            class="block text-sm font-medium text-gray-700"
                        >
                            Password
                        </label>

                        <input
                            type="password"
                            id="Password"
                            name="password"
                            class="mt-1 w-ful p-2 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
                        />
                    </div>

                    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
                        <button
                            class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
                        >
                            {cta}
                        </button>
                        {
                            button && (
                                <a
                                    href="/signIn"
                                    class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
                                >
                                    Sign In
                                </a>
                            )
                        }
                    </div>
                </form>
            </div>
        </main>
    </div>
</section>
