---

---

<button id="startButton" class="bg-green-500 w-1/4">Start</button>
<video id="cam-user" class="w-1/4" autoplay></video>
<video id="cam-participant" class="w-1/4" autoplay></video>
<script src="@client/webrtc.ts"></script>
